aiomysql==0.1.1
amqp==5.1.1
anyio==3.6.2
async-timeout==4.0.2
bcrypt==4.0.1
billiard==3.6.4.0
boto3==1.26.139
botocore==1.29.139
celery==5.2.7
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==40.0.2
dependency-injector==4.41.0
dnspython==2.3.0
ecdsa==0.18.0
email-validator==2.0.0.post2
fastapi==0.95.2
greenlet==2.0.2
h11==0.14.0
h5py==3.8.0
idna==3.4
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.2.4
MarkupSafe==2.1.2
mysqlclient==2.1.1
numpy==1.24.3
passlib==1.7.4
password-strength==0.0.3.post2
prompt-toolkit==3.0.38
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.8
pyhcl==0.4.4
PyMySQL==1.0.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
python-usernames==0.3.1
pytz==2023.3
redis==4.5.5
requests==2.31.0
rsa==4.9
s3transfer==0.6.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.15
starlette==0.27.0
tree-format==0.1.2
typing_extensions==4.6.1
urllib3==1.26.16
uvicorn==0.22.0
vine==5.0.0
watchdog==3.0.0
wcwidth==0.2.6
